# 6.1 Cleaning Data

## Contents
## Importing Libraries
## Importing DataFrames
## Data Cleaning Trips by Distance
## Data Cleaning Motor Vehicle Registrations
## Exporting DataFrames

# Importing Libraries

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

# importing dataframes

In [4]:
# assign path
path = r'C:\Users\Jack Bartman\OneDrive\CareerFoundry\MV Trips'

In [22]:
# import dataframes
df_td = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Trips_by_Distance.csv'), index_col = False)

In [30]:
df_mv = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Motor_Vehicle_Registrations_Dashboard_data.csv'), index_col = False)

# Data cleaning df_td

In [29]:
df_td

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142057,State,2024/01/20,10.0,DE,NaN,NaN,206202.0,767562.0,4.018660e+06,1069314.0,...,640334.0,595235.0,217335.0,76625.0,29198.0,2708.0,1894.0,10-00000-20240120,2,1
6142058,State,2024/01/20,23.0,ME,NaN,NaN,266826.0,1077386.0,6.290102e+06,1423629.0,...,1000895.0,1133714.0,424034.0,133249.0,32052.0,2169.0,2569.0,23-00000-20240120,2,1
6142059,State,2024/01/20,40.0,OK,NaN,NaN,838696.0,3118275.0,1.590454e+07,4018035.0,...,2481282.0,2663938.0,877167.0,379782.0,144917.0,21370.0,10582.0,40-00000-20240120,2,1
6142060,State,2024/01/20,55.0,WI,NaN,NaN,1132189.0,4690245.0,2.697016e+07,6884903.0,...,4213333.0,4284630.0,1574934.0,661760.0,284408.0,35057.0,17574.0,55-00000-20240120,2,1
6142061,State,2024/01/20,54.0,WV,NaN,NaN,386799.0,1405348.0,7.236616e+06,1742546.0,...,1180924.0,1124666.0,397087.0,140674.0,59783.0,9062.0,2187.0,54-00000-20240120,2,1

In [33]:
# drop FIPS columns
df_td=df_td.drop(columns=['State FIPS', 'County FIPS'])

In [35]:
df_td

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142057,State,2024/01/20,DE,NaN,206202.0,767562.0,4.018660e+06,1069314.0,898906.0,487111.0,640334.0,595235.0,217335.0,76625.0,29198.0,2708.0,1894.0,10-00000-20240120,2,1
6142058,State,2024/01/20,ME,NaN,266826.0,1077386.0,6.290102e+06,1423629.0,1377801.0,759990.0,1000895.0,1133714.0,424034.0,133249.0,32052.0,2169.0,2569.0,23-00000-20240120,2,1
6142059,State,2024/01/20,OK,NaN,838696.0,3118275.0,1.590454e+07,4018035.0,3483347.0,1824118.0,2481282.0,2663938.0,877167.0,379782.0,144917.0,21370.0,10582.0,40-00000-20240120,2,1
6142060,State,2024/01/20,WI,NaN,1132189.0,4690245.0,2.697016e+07,6884903.0,5903595.0,3109968.0,4213333.0,4284630.0,1574934.0,661760.0,284408.0,35057.0,17574.0,55-00000-20240120,2,1
6142061,State,2024/01/20,WV,NaN,386799.0,1405348.0,7.236616e+06,1742546.0,1670993.0,908694.0,1180924.0,1124666.0,397087.0,140674.0,59783.0,9062.0,2187.0,54-00000-20240120,2,1

In [37]:
# consistancy check
df_td.describe()

,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
count,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.142062e+06,6.142062e+06
mean,6.748177e+04,2.429701e+05,1.206102e+06,3.175400e+05,2.904546e+05,1.460908e+05,1.861204e+05,1.783364e+05,5.706283e+04,1.917806e+04,8.277441e+03,1.753423e+03,1.288037e+03,2.525013e+01,6.301612e+00
std,1.318204e+06,4.645360e+06,2.357712e+07,6.250494e+06,5.671441e+06,2.855960e+06,3.643293e+06,3.492642e+06,1.112380e+06,3.739648e+05,1.636993e+05,3.463811e+04,2.746778e+04,1.532485e+01,3.501955e+00
min,8.000000e+00,-3.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.004000e+03,9.353000e+03,4.530200e+04,9.747000e+03,9.768000e+03,4.432000e+03,6.171000e+03,7.309000e+03,3.599000e+03,1.302000e+03,4.330000e+02,5.700000e+01,1.400000e+01,1.200000e+01,3.000000e+00
50%,4.816000e+03,2.205200e+04,1.080710e+05,2.420600e+04,2.557700e+04,1.227600e+04,1.555000e+04,1.737100e+04,7.597000e+03,2.797000e+03,9.810000e+02,1.570000e+02,4.900000e+01,2.500000e+01,6.000000e+00
75%,1.430200e+04,6.029600e+04,2.980195e+05,7.032200e+04,7.357100e+04,3.655000e+04,4.513800e+04,4.583200e+04,1.754400e+04,6.272000e+03,2.417000e+03,4.340000e+02,1.930000e+02,3.900000e+01,9.000000e+00
max,1.102118e+08,2.737400e+08,1.656420e+09,4.736445e+08,4.051305e+08,1.980184e+08,2.588768e+08,2.565096e+08,7.873656e+07,2.972062e+07,1.448186e+07,3.651375e+06,5.003062e+06,5.300000e+01,1.200000e+01

In [41]:
# check missing values
df_td.isnull().sum()

Level                                 0
Date                                  0
State Postal Code                  1923
County Name                       99996
Population Staying at Home        50623
Population Not Staying at Home    50623
Number of Trips                   50623
Number of Trips <1                50623
Number of Trips 1-3               50623
Number of Trips 3-5               50623
Number of Trips 5-10              50623
Number of Trips 10-25             50623
Number of Trips 25-50             50623
Number of Trips 50-100            50623
Number of Trips 100-250           50623
Number of Trips 250-500           50623
Number of Trips >=500             50623
Row ID                                0
Week                                  0
Month                                 0
dtype: int64

In [43]:
# Null values are expected for State Postal Code and County Name for the National level rows

In [49]:
df_nan=df_td[df_td['Number of Trips'].isnull()==True]

In [51]:
df_nan

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
46154,County,2019/01/01,TX,King County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48-48269-20190101,0,1
46155,County,2019/01/01,AK,Lake and Peninsula Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-02164-20190101,0,1
46159,County,2019/01/01,AK,Yakutat City and Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-02282-20190101,0,1
46160,County,2019/01/01,AK,Skagway Municipality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-02230-20190101,0,1
46161,County,2019/01/01,NE,Arthur County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31-31005-20190101,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6139883,County,2024/01/20,NE,McPherson County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31-31117-20240120,2,1
6140192,County,2024/01/20,ND,Slope County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38-38087-20240120,2,1
6140480,County,2024/01/20,NM,Harding County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-35021-20240120,2,1
6140830,County,2024/01/20,TX,Kenedy County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48-48261-20240120,2,1
6140835,County,2024/01/20,TX,King County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48-48269-20240120,2,1

In [53]:
# delete rows with no data

In [55]:
df_td.shape

(6142062, 20)

In [57]:
df_td_clean = df_td[df_td['Number of Trips'].isnull()==False]

In [59]:
df_td_clean.shape

(6091439, 20)

In [63]:
# Check for duplicates
df_dups = df_td_clean[df_td_clean.duplicated()]

In [65]:
df_dups

Empty DataFrame
Columns: [Level, Date, State Postal Code, County Name, Population Staying at Home, Population Not Staying at Home, Number of Trips, Number of Trips <1, Number of Trips 1-3, Number of Trips 3-5, Number of Trips 5-10, Number of Trips 10-25, Number of Trips 25-50, Number of Trips 50-100, Number of Trips 100-250, Number of Trips 250-500, Number of Trips >=500, Row ID, Week, Month]
Index: []

In [67]:
# no duplicates

In [69]:
df_td_clean.describe()

,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
count,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06,6.091439e+06
mean,6.748177e+04,2.429701e+05,1.206102e+06,3.175400e+05,2.904546e+05,1.460908e+05,1.861204e+05,1.783364e+05,5.706283e+04,1.917806e+04,8.277441e+03,1.753423e+03,1.288037e+03,2.520808e+01,6.291817e+00
std,1.318204e+06,4.645360e+06,2.357712e+07,6.250494e+06,5.671441e+06,2.855960e+06,3.643293e+06,3.492642e+06,1.112380e+06,3.739648e+05,1.636993e+05,3.463811e+04,2.746778e+04,1.531616e+01,3.499660e+00
min,8.000000e+00,-3.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.004000e+03,9.353000e+03,4.530200e+04,9.747000e+03,9.768000e+03,4.432000e+03,6.171000e+03,7.309000e+03,3.599000e+03,1.302000e+03,4.330000e+02,5.700000e+01,1.400000e+01,1.100000e+01,3.000000e+00
50%,4.816000e+03,2.205200e+04,1.080710e+05,2.420600e+04,2.557700e+04,1.227600e+04,1.555000e+04,1.737100e+04,7.597000e+03,2.797000e+03,9.810000e+02,1.570000e+02,4.900000e+01,2.500000e+01,6.000000e+00
75%,1.430200e+04,6.029600e+04,2.980195e+05,7.032200e+04,7.357100e+04,3.655000e+04,4.513800e+04,4.583200e+04,1.754400e+04,6.272000e+03,2.417000e+03,4.340000e+02,1.930000e+02,3.900000e+01,9.000000e+00
max,1.102118e+08,2.737400e+08,1.656420e+09,4.736445e+08,4.051305e+08,1.980184e+08,2.588768e+08,2.565096e+08,7.873656e+07,2.972062e+07,1.448186e+07,3.651375e+06,5.003062e+06,5.300000e+01,1.200000e+01

In [71]:
# why does 'Population Not Staying Home' have a minimum less than 0?

In [73]:
df_td_clean.loc[df_td_clean['Population Not Staying at Home'] < 0]

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
5416482,County,2023/08/17,AK,Northwest Arctic Borough,7635.0,-14.0,46951.0,40232.0,1133.0,361.0,3357.0,1509.0,0.0,82.0,37.0,0.0,240.0,02-02188-20230817,33,8
5427148,County,2023/09/03,AK,Northwest Arctic Borough,7862.0,-241.0,27589.0,22053.0,1386.0,646.0,1632.0,0.0,1792.0,0.0,0.0,0.0,80.0,02-02188-20230903,36,9
5429847,County,2023/09/04,AK,Northwest Arctic Borough,7733.0,-112.0,23665.0,13279.0,1049.0,391.0,1976.0,4800.0,2170.0,0.0,0.0,0.0,0.0,02-02188-20230904,36,9
5445553,County,2023/09/09,AK,Northwest Arctic Borough,7898.0,-277.0,23518.0,13631.0,2100.0,326.0,1648.0,2001.0,3619.0,32.0,0.0,0.0,161.0,02-02188-20230909,36,9
5458127,County,2023/08/30,AK,Northwest Arctic Borough,7995.0,-374.0,37156.0,29709.0,930.0,621.0,1251.0,3060.0,1399.0,0.0,34.0,0.0,152.0,02-02188-20230830,35,8
5484040,County,2023/09/14,AK,Northwest Arctic Borough,7932.0,-311.0,48520.0,32056.0,1347.0,1023.0,9114.0,4725.0,0.0,26.0,0.0,0.0,229.0,02-02188-20230914,37,9
5487130,County,2023/09/15,AK,Northwest Arctic Borough,7893.0,-272.0,41794.0,28691.0,2063.0,1566.0,4651.0,4823.0,0.0,0.0,0.0,0.0,0.0,02-02188-20230915,37,9
5493805,County,2023/09/17,AK,Northwest Arctic Borough,7785.0,-164.0,34181.0,24854.0,416.0,382.0,5063.0,2949.0,0.0,115.0,0.0,0.0,402.0,02-02188-20230917,38,9
5512606,County,2023/09/23,AK,Northwest Arctic Borough,7803.0,-182.0,48876.0,30084.0,1299.0,332.0,2245.0,9422.0,3717.0,46.0,0.0,1338.0,393.0,02-02188-20230923,38,9
5579697,County,2023/10/14,AK,Northwest Arctic Borough,7888.0,-267.0,51207.0,41386.0,264.0,369.0,1246.0,7497.0,0.0,122.0,0.0,0.0,323.0,02-02188-20231014,41,10

In [87]:
# remove all records with values less than 0
df_td_clean2=df_td_clean[df_td_clean['Population Not Staying at Home'] >= 0]

In [91]:
df_td_clean2.shape

(6091429, 20)

In [99]:
# Check for mixed types
for col in df_td_clean2.columns.tolist():
  weird = (df_td_clean2[[col]].map(type) != df_td_clean2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_td_clean2[weird]) > 0:
    print (col)

State Postal Code
County Name

In [103]:
# these mixed values are due to the NaN values in the National column

In [107]:
# export dataframe
df_td_clean2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Trips_by_Distance_cleaned.csv'))

In [10]:
# import dataframes
df_td_clean2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Trips_by_Distance_cleaned.csv'), index_col = False)

In [8]:
# break into 2 DF's one national and one states

In [14]:
df_td_national=df_td_clean2[df_td_clean2['Level']=='National']

In [16]:
df_td_national.shape

(1923, 21)

In [18]:
df_td_national

,Unnamed: 0,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,0,National,2019/01/01,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,1,National,2019/01/02,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,2,National,2019/01/03,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,3,National,2019/01/04,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,4,National,2019/01/05,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6090710,6141343,National,2024/01/16,NaN,NaN,72980399.0,255259124.0,1.376285e+09,394419249.0,317894894.0,...,207445615.0,203592902.0,62965823.0,19521695.0,7668717.0,1733428.0,1359291.0,00-00000-20240116,2,1
6090711,6141344,National,2024/01/17,NaN,NaN,72457388.0,255782135.0,1.426009e+09,400588486.0,329045100.0,...,220672351.0,213745550.0,64202154.0,18672200.0,6856467.0,1679240.0,1297973.0,00-00000-20240117,2,1
6090712,6141345,National,2024/01/18,NaN,NaN,71045060.0,257194463.0,1.414872e+09,397349971.0,322045377.0,...,217210639.0,213593358.0,67028679.0,20399916.0,7890872.0,1867267.0,1414567.0,00-00000-20240118,2,1
6090713,6141346,National,2024/01/19,NaN,NaN,70734077.0,257505446.0,1.428067e+09,398173659.0,324998740.0,...,219097744.0,215297514.0,67361311.0,22173329.0,9737126.0,2135940.0,1478063.0,00-00000-20240119,2,1
6090714,6141347,National,2024/01/20,NaN,NaN,72442429.0,255797094.0,1.399006e+09,379911468.0,315595287.0,...,216892484.0,211203296.0,68849619.0,25440363.0,11247238.0,2364801.0,1534717.0,00-00000-20240120,2,1

In [20]:
df_td_state=df_td_clean2[df_td_clean2['Level']=='State']

In [22]:
df_td_state.shape

(98073, 21)

In [24]:
df_td_state

,Unnamed: 0,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
887,887,State,2019/01/01,NV,NaN,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,...,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,32-00000-20190101,0,1
888,888,State,2019/01/01,FL,NaN,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,...,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,12-00000-20190101,0,1
889,889,State,2019/01/01,DC,NaN,241030.0,459278.0,3114055.0,1314825.0,833796.0,...,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,11-00000-20190101,0,1
890,890,State,2019/01/01,DE,NaN,224457.0,739757.0,2420942.0,584323.0,640348.0,...,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,10-00000-20190101,0,1
891,891,State,2019/01/01,CT,NaN,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,...,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,09-00000-20190101,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6091424,6142057,State,2024/01/20,DE,NaN,206202.0,767562.0,4018660.0,1069314.0,898906.0,...,640334.0,595235.0,217335.0,76625.0,29198.0,2708.0,1894.0,10-00000-20240120,2,1
6091425,6142058,State,2024/01/20,ME,NaN,266826.0,1077386.0,6290102.0,1423629.0,1377801.0,...,1000895.0,1133714.0,424034.0,133249.0,32052.0,2169.0,2569.0,23-00000-20240120,2,1
6091426,6142059,State,2024/01/20,OK,NaN,838696.0,3118275.0,15904538.0,4018035.0,3483347.0,...,2481282.0,2663938.0,877167.0,379782.0,144917.0,21370.0,10582.0,40-00000-20240120,2,1
6091427,6142060,State,2024/01/20,WI,NaN,1132189.0,4690245.0,26970162.0,6884903.0,5903595.0,...,4213333.0,4284630.0,1574934.0,661760.0,284408.0,35057.0,17574.0,55-00000-20240120,2,1
6091428,6142061,State,2024/01/20,WV,NaN,386799.0,1405348.0,7236616.0,1742546.0,1670993.0,...,1180924.0,1124666.0,397087.0,140674.0,59783.0,9062.0,2187.0,54-00000-20240120,2,1

In [26]:
# export dataframe
df_td_national.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Trips_by_Distance_national.csv'))

In [28]:
# export dataframe
df_td_state.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Trips_by_Distance_state.csv'))

# Data Cleaning df_mv

In [33]:
df_mv

      year              state       Auto      Bus      Truck  Motorcycle
0     1900            Alabama       40.0      0.0        0.0         0.0
1     1900             Alaska        0.0      0.0        0.0         0.0
2     1900            Arizona       20.0      0.0        0.0         0.0
3     1900           Arkansas       20.0      0.0        0.0         0.0
4     1900         California      780.0      0.0        0.0         0.0
...    ...                ...        ...      ...        ...         ...
6288  2020           Virginia  3057254.0  35463.0  4329294.0    184441.0
6289  2020     Washington (2)  2800370.0  24172.0  4211411.0    221448.0
6290  2020  West Virginia (2)   508663.0   3155.0  1102015.0     43529.0
6291  2020      Wisconsin (2)  1901497.0  14941.0  3423523.0    276310.0
6292  2020            Wyoming   191332.0   4101.0   637107.0     28488.0

[6293 rows x 6 columns]

In [35]:
# consistancy check
df_mv.describe()

              year          Auto            Bus         Truck     Motorcycle
count  6293.000000  6.171000e+03    6171.000000  6.171000e+03    6171.000000
mean   1960.008263  1.327213e+06    6950.574299  6.958961e+05   51219.924453
std      34.934562  2.087881e+06   11660.693889  1.447817e+06   97275.673205
min    1900.000000  0.000000e+00       0.000000  0.000000e+00       0.000000
25%    1930.000000  1.457760e+05       0.000000  2.590400e+04    1135.000000
50%    1960.000000  5.275890e+05    2622.000000  1.806250e+05   10462.000000
75%    1990.000000  1.733866e+06    8683.000000  6.871780e+05   58352.500000
max    2020.000000  2.003773e+07  101845.000000  1.544345e+07  842543.000000

In [37]:
# check missing values
df_mv.isnull().sum()

year            0
state           0
Auto          122
Bus           122
Truck         122
Motorcycle    122
dtype: int64

In [39]:
# none observed

In [41]:
# Check for duplicates
df_dups = df_mv[df_mv.duplicated()]

In [43]:
df_dups

Empty DataFrame
Columns: [year, state, Auto, Bus, Truck, Motorcycle]
Index: []

In [45]:
# none observed

In [47]:
# Check for mixed types
for col in df_mv.columns.tolist():
  weird = (df_mv[[col]].map(type) != df_mv[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_mv[weird]) > 0:
    print (col)

In [49]:
# none observed

In [51]:
# export dataframe
df_mv.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Motor_vehicle_registrations.csv'))